asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
dj-database-url==0.5.0
Django==4.0.2
django-braces==1.15.0
django-heroku==0.0.0
django-model-utils==4.2.0
django-star-ratings==0.9.2
django-starfield==1.0.post2
djangorestframework==3.13.1
gunicorn==20.1.0
idna==3.3
markdown2==2.4.2
Pillow==9.1.0
podcast-api==1.1.3
python-decouple==3.6
pytz==2022.1
requests==2.27.1
sqlparse==0.4.2
swapper==1.3.0
urllib3==1.26.9
whitenoise==6.2.0
